---
---

// Variables
$icon-bg-color: #2c2c2c;
$icon-hover-bg-color: #3a3a3a;
$icon-text-color: #868686;
$icon-hover-text-color: #f8f9fa;

.social-bar-outside-sidebar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  gap: 0.5rem;
  --link-underline-color: none;

  a {
    width: 1.75rem;
    height: 1.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: --main-bg;
    color: --text-color !important;
    text-decoration: none !important;
    transition: background-color 0.5s, color 0.5s ease !important;
    overflow: hidden; /* hide any ghost bits */

    &:hover {
      background-color: $icon-hover-bg-color;
      color: $icon-hover-text-color !important;
      text-decoration: none !important;
      border-bottom: none !important;

      i {
        color: $icon-hover-text-color !important;
        text-decoration: none !important;
      }
    }
  }

  i {
    font-size: 1rem;
    line-height: 1.75rem;
    color: $icon-text-color !important;
  }
}

// Media queries
@media screen and (min-width: 992px) {
  .social-bar-outside-sidebar {
    a {
      width: 2rem !important;
      height: 2rem !important;
    }

    i {
      font-size: 1.25rem !important;
      line-height: 2rem !important;
    }
  }
}

@media screen and (min-width: 1440px) {
  .social-bar-outside-sidebar {
    a {
      width: 2.25rem !important;
      height: 2.25rem !important;
    }

    i {
      font-size: 1.5rem !important;
      line-height: 2.25rem !important;
    }
  }
}
